<template>
  <div class="category-container">
    <el-row>
      <el-col :span="8">
        <el-input
          v-model="filterText"
          :placeholder="$t('common.filterKeyWords')"
        >
        </el-input>
      </el-col>
      <el-col :span="4" :offset="2">
        <el-button type="primary" plain @click="toggleCollapse">{{ expandAll ? $t("dictionaryManagement.collapseAll") : $t("dictionaryManagement.expandAll") }}</el-button>
      </el-col>
    </el-row>

    <el-tree
      ref="tree"
      :data="treeCategoryData"
      node-key="id"
      :default-expanded-keys="expandKeyIds"
      :filter-node-method="filterNode"
      :expand-on-click-node="false"
      @node-expand="handleNodeExpand"
      @node-collapse="handleNodeCollapse"
    >
      <span slot-scope="{ node, data }" class="custom-tree-node">
        <template v-if="node.level === 3">
          <template v-if="data.isNew || data.isEdit">
            <el-row style="width: 100%;">
              <el-col :span="7"><div style="width:80%;">{{ $t('dictionaryManagement.name') }} : <el-input v-model="data.name" size="mini" autocomplete="off"></el-input></div></el-col>
              <el-col :span="7"><div style="width:80%;">{{ $t('dictionaryManagement.code') }} : <el-input v-model="data.code" size="mini" autocomplete="off"></el-input></div></el-col>
              <el-col :span="7"><div style="width:80%;">{{ $t('dictionaryManagement.order') }} : <el-input v-model="data.order" size="mini" autocomplete="off"></el-input></div></el-col>
              <el-col :span="3"><div style="text-align: end">
                <template v-if="data.isNew">
                  <el-button type="text"
                             size="mini" @click="() => cancelAddSubDictionary(node, data)"
                  >{{ $t('common.cancel') }}</el-button>
                </template>
                <template v-else>
                  <el-button type="text"
                             size="mini" @click="() => data.isEdit = false"
                  >{{ $t('common.cancel') }}</el-button>
                </template>
                <el-button type="text"
                           size="mini" @click="() => saveSubDictionary(node, data)"
                >{{ $t('common.save') }}</el-button>
              </div></el-col>
            </el-row>
          </template>
          <template v-else>
            <el-row style="width: 100%;">
              <el-col :span="7" class="sub-dictionary-col"><div>{{ data.name }}</div></el-col>
              <el-col :span="7" class="sub-dictionary-col"><div>{{ data.code }}</div></el-col>
              <el-col :span="7" class="sub-dictionary-col"><div>{{ data.order }}</div></el-col>
              <el-col :span="3"><div style="text-align: end">
                <el-button
                  type="text"
                  size="mini"
                  @click="() => data.isEdit = true"
                >
                  {{ $t('common.edit') }}
                </el-button>
                <el-button
                  type="text"
                  size="mini"
                  @click="() => deleteSubDictionary(node,data)"
                >
                  {{ $t('common.delete') }}
                </el-button></div></el-col>
            </el-row>
          </template>
        </template>
        <template v-else-if="node.level === 2">
          <template v-if="data.isEdit">
            <span><el-input v-model="data.name"
                            size="mini"
            ></el-input></span>
            <span>
              <el-button
                type="text"
                size="mini"
                @click="() => data.isEdit = false"
              >
                {{ $t('common.cancel') }}
              </el-button>
              <el-button
                type="text"
                size="mini"
                @click="() => saveDictionary(node,data)"
              >
                {{ $t('common.save') }}
              </el-button>
            </span>
          </template>
          <template v-else>
            <span>{{ data.name }}</span>
            <span>
              <el-button
                type="text"
                size="mini"
                @click="() => newSubDictionary(node,data)"
              >
                {{ $t('common.new') }}
              </el-button>
              <el-button
                type="text"
                size="mini"
                @click="() => data.isEdit = true"
              >
                {{ $t('common.edit') }}
              </el-button>
            </span>
          </template>

        </template>
        <template v-else>
          <template v-if="data.isEdit">
            <span><el-input v-model="data.name"
                            size="mini"
            ></el-input></span>
            <span>
              <el-button
                type="text"
                size="mini"
                @click="() => data.isEdit = false"
              >
                {{ $t('common.cancel') }}
              </el-button>
              <el-button
                type="text"
                size="mini"
                @click="() => saveCategory(node,data)"
              >
                {{ $t('common.save') }}
              </el-button>
            </span>
          </template>
          <template v-else>
            <span>{{ data.name }}</span>
            <span>
              <el-button
                type="text"
                size="mini"
                @click="() => data.isEdit = true"
              >
                {{ $t('common.edit') }}
              </el-button>
            </span>
          </template>

        </template>

      </span>
    </el-tree>

    <!-- 编辑
    <el-dialog :title="isEdit ? $t('common.edit') : $t('common.new')" :visible.sync="editDialogVisible">
      <el-form ref="form" :model="categoryInfo">
        <el-form-item :label="$t('dictionaryManagement.name')">
          <el-input v-model="categoryInfo.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item :label="$t('dictionaryManagement.code')">
          <el-input v-model="categoryInfo.code" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item :label="$t('dictionaryManagement.desciption')">
          <el-input v-model="categoryInfo.description" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editDialogVisible = false">{{ $t('common.cancel') }}</el-button>
        <el-button type="primary" @click="saveCategory">{{ $t('common.confirm') }}</el-button>
      </div>
    </el-dialog>-->
    <!-- 删除 -->
    <el-dialog :title="$t('common.warning')" :visible.sync="delDialogVisible" width="30%">
      <span slot="footer" class="dialog-footer">
        <el-button @click="delDialogVisible = false">{{ $t("common.cancel") }}</el-button>
        <el-button type="primary" @click="delDialogVisible = false">{{ $t("common.confirm") }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import _ from "lodash";
import { getTreeDictionaries, updateCategory, addSubDictionary, updateSubDictionary, deleteSubDictionary } from "@/api/dictionary-management";
import { guid } from "@/utils";
export default {
  data() {
    return {
      // editDictionaryName: "",
      // editCategoryName: "",
      expandAll: true,
      expandKeyIds: [],
      filterText: "",
      isEdit: false,
      categoryList: [],
      delDialogVisible: false,
      editDialogVisible: false
    };
  },
  computed: {
    treeCategoryData: function() {
      const res = this.categoryList.map(function(item, index) {
        const category = {};
        category.id = item.id;
        category.isEdit = false;
        category.name = item.name;
        category.code = item.code;
        category.type = "category";
        const dicChildren = item.dictionaries.map(function(dicItem, dicIndex) {
          const dictionary = {};
          dictionary.id = dicItem.id;
          dictionary.isEdit = false;
          dictionary.name = dicItem.name;
          dictionary.code = dicItem.code;
          dictionary.type = "dictionary";
          const subDicChildren = dicItem.subDictionaries.map(function(subDicItem, subDicIndex) {
            const subDictionary = {};
            subDictionary.id = subDicItem.id;
            subDictionary.name = subDicItem.name;
            subDictionary.code = subDicItem.code;
            subDictionary.isEdit = false;
            subDictionary.isNew = subDicItem.isNew;
            subDictionary.dicId = dictionary.id;
            subDictionary.order = subDicItem.order;
            subDictionary.type = "subdictionary";
            return subDictionary;
          });
          dictionary.children = subDicChildren;
          return dictionary;
        });

        category.children = dicChildren;
        return category;
      });
      return res;
    }
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val);
    }
  },
  async created() {
    const { success, data } = await getTreeDictionaries();
    if (success) {
      this.categoryList = data || [];
      const expandIds = this._getDefaultExpandKeyIds();
      this.expandKeyIds = expandIds;
    }
    console.log(data);
  },
  methods: {
    _getDefaultExpandKeyIds() {
      const arrIds = [];
      if (this.categoryList.length > 0) {
        arrIds.push(this.categoryList[0].id);
        this.categoryList[0].dictionaries.forEach(dicItem => {
          arrIds.push(dicItem.id);
        });
      }

      return arrIds;
    },
    _findDictionaryById(id) {
      let dictionary;
      for (var i = 0; i < this.categoryList.length; i++) {
        dictionary = _.find(this.categoryList[i].dictionaries, { id });
        if (dictionary) break;
      }
      return dictionary;
    },
    _removeSubDicFromLocal(subDic) {
      const dictionary = this._findDictionaryById(subDic.dicId);
      if (dictionary && dictionary.subDictionaries.length > 0) {
        const subDicIndex = _.findIndex(dictionary.subDictionaries, { id: subDic.id });
        dictionary.subDictionaries.splice(subDicIndex, 1);
      }
    },
    _findSubDictionary(subDicData) {
      let subDicItem;
      const dictionary = this._findDictionaryById(subDicData.dicId);
      if (dictionary && dictionary.subDictionaries.length > 0) {
        subDicItem = _.find(dictionary.subDictionaries, { id: subDicData.id });
      }
      return subDicItem;
    },
    async _delSubDictionary(subDic) {
      const res = await deleteSubDictionary({
        id: subDic.id
      });
      if (res.success) {
        this._removeSubDicFromLocal(subDic);
        this.$message({
          message: this.$t("common.deleteSuccess"),
          type: "success"
        });
      }
      // todo call api
    },
    handleNodeExpand(data, node, nodeComp) {
      let flag;
      this.expandKeyIds.some(id => {
        if (id === data.id) {
          flag = true;
          return true;
        }
      });
      if (!flag) {
        this.expandKeyIds.push(data.id);
        console.log(node);
      }
    },
    handleNodeCollapse(data, node, nodeComp) {
      this.expandKeyIds.some((id, index) => {
        if (id === data.id) {
          this.expandKeyIds.splice(index, 1);
          return true;
        }
      });
      if (node.level === 1 && node.childNodes.length > 0) { // 如果是一级节点，移除childen id
        node.childNodes.forEach((node) => {
          this.expandKeyIds.some((id, index) => {
            if (id === node.data.id) {
              this.expandKeyIds.splice(index, 1);
              return true;
            }
          });
        });
      }
    },
    toggleCollapse() {
      this.expandAll = !this.expandAll;
      const idArr = [];
      const allNodes = this.$refs.tree.store._getAllNodes();
      for (var i = 0; i < allNodes.length; i++) {
        const nodeItem = allNodes[i];
        nodeItem.expanded = this.expandAll;
        if (nodeItem.level !== 3) { idArr.push(nodeItem.data.id); }
      }
      if (this.expandAll) {
        this.expandKeyIds = idArr;
      } else {
        this.expandKeyIds = [];
      }
    },
    filterNode(value, data) {
      if (!value) return true;
      return data.name.indexOf(value) !== -1;
    },
    async saveCategory(node, data) {
      const res = await updateCategory({
        id: data.id,
        code: data.code,
        name: data.name
      });
      if (res.success) {
        const category = _.find(this.categoryList, { id: data.id });
        if (category) {
          category.name = data.name;
        }

        this.$message({
          message: this.$t("common.saveSuccess"),
          type: "success"
        });
      }
    },
    async saveDictionary(node, data) {
      const res = await updateCategory({
        id: data.id,
        code: data.code,
        name: data.name
      });
      if (res.success) {
        const dictionary = this._findDictionaryById(data.id);
        if (dictionary) {
          dictionary.name = data.name;
        }
        this.$message({
          message: this.$t("common.saveSuccess"),
          type: "success"
        });
      }
    },
    newSubDictionary(node, data) {
      // console.log(node, data);
      this.handleNodeExpand(data, node);
      const dictionary = this._findDictionaryById(data.id);
      if (dictionary) {
        const newSubDic = {
          id: guid(),
          name: "",
          code: "",
          isNew: true
        };
        dictionary.subDictionaries.push(newSubDic);
      }
    },
    deleteSubDictionary(node, data) {
      this.$confirm(this.$t("common.confirm") + "?")
        .then(() => {
          this._delSubDictionary(data);
        })
        .catch(() => { });
    },
    async saveSubDictionary(node, data) {
      console.log(node);
      let res;
      if (data.isNew) {
        res = await addSubDictionary({
          code: data.code,
          name: data.name,
          order: data.order,
          parentCode: node.parent.data.code
        });
      } else {
        res = await updateSubDictionary({
          id: data.id,
          code: data.code,
          name: data.name,
          order: data.order,
          parentCode: node.parent.data.code
        });
      }
      if (res.success) {
        const subDic = this._findSubDictionary(data);
        subDic.name = data.name;
        subDic.code = data.code;
        subDic.order = data.order;
        subDic.isNew = false;
        subDic.isEdit = false;
        if (data.isNew) {
          subDic.id = res.data.id;
        }
        this.$message({
          message: this.$t("common.saveSuccess"),
          type: "success"
        });
      }
    },
    cancelAddSubDictionary(node, data) {
      this._removeSubDicFromLocal(data);
    }
  }
};
</script>
<style lang="scss" scoped>
.category-container {
  padding: 15px;

  .custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;

    .sub-dictionary-col{
      height: 28px;
      line-height:28px;
    }
  }
  & ::v-deep .el-tree-node__content {
    padding: 16px 0;
  }
}

</style>
