<template>
  <div class="app-container">
    <el-table
      :data="tableData"
      style="worderth: 100%;margin-bottom: 20px;"
      row-key="id"
      border
      :tree-props="{ children: 'children', hasChildren: hasChildren }"
      :default-sort="{ prop: 'order', order: 'ascending' }"
    >
      <el-table-column prop="order" label="序号" sortable worderth="180" />
      <el-table-column prop="name" label="名称" sortable worderth="180" />
      <el-table-column prop="path" label="路径" sortable worderth="180" />
    </el-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tableData: [],
      hasChildren: true
    };
  },
  created() {
    this.getList();
  },
  methods: {
    getList() {
      const moduleRoutes = require.context(
        "../../../modules",
        true,
        /router\.js$/
      );
      const modules = moduleRoutes.keys().reduce((module, modulePath) => {
        const value = moduleRoutes(modulePath);
        module = module.concat(value.routes);
        return module;
      }, []);

      let identifyNum = 1;
      const createdIdentifying = function(data) {
        for (let i = 0; i < data.length; i++) {
          data[i].id = identifyNum;
          identifyNum++;
          if (data[i].children != null) {
            createdIdentifying(data[i].children);
          }
        }
      };

      createdIdentifying(modules);

      this.tableData = modules;
    }
  }
};
</script>

<style scoped>
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
