<template>
  <div class="app-container">
    <div class="filter-container">
      <el-button class="table-default-button" type="primary" icon="el-icon-plus" @click="AddRoleDialog">
        {{ $t("table.add") }}
      </el-button>
      <el-input v-model="prefix" :placeholder="$t('table.keyword')" class="table-prefix-input" @keyup.enter.native="getList">
        <el-button slot="append" icon="el-icon-search" @click="getList" />
      </el-input>
    </div>
    <el-table v-loading="listLoading" :data="list" stripe fit highlight-current-row class="table-list full-width">
      <el-table-column align="center" :label="$t('systemManage.ID')" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>

      <el-table-column min-width="160px" align="center" :label="$t('systemManage.roleName')">
        <template slot-scope="scope">
          <span>{{ scope.row.roleName }}</span>
        </template>
      </el-table-column>

      <el-table-column min-width="140px" align="center" :label="$t('systemManage.description')">
        <template slot-scope="scope">
          <span>{{ scope.row.description }}</span>
        </template>
      </el-table-column>
      <el-table-column min-width="140px" align="center" :label="$t('systemManage.createdBy')">
        <template slot-scope="scope">
          <span>{{ scope.row.createdUser }}</span>
        </template>
      </el-table-column>
      <el-table-column min-width="140px" prop="createdAt" :formatter="dateFormat" align="center" :label="$t('systemManage.createdAt')"> </el-table-column>

      <el-table-column align="center" :label="$t('systemManage.actions')" min-width="200">
        <template slot-scope="{ row, $index }">
          <el-button v-if="!row.isDefault" type="primary" size="mini" icon="el-icon-edit" @click="handleEditRole(row)">
            {{ $t("table.edit") }}
          </el-button>
          <el-button v-if="!row.isDefault" size="mini" type="danger" icon="el-icon-delete" @click="handleDeleteRole(row, $index)">
            {{ $t("table.delete") }}
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <RoleForm ref="roleForm" prop="listLoading" />

    <pagination v-show="total > 0" :total="total" :page.sync="listQuery.pageIndex" :limit.sync="listQuery.pageSize" @pagination="getList" />
  </div>
</template>

<script>
import { getList, addRole, deleteRole, getRole, updateRole } from "@/modules/system-manage/api/role-manage";
import { savePermission, getPermission } from "@/modules/system-manage/api/permission-manage";
import Pagination from "@/components/Pagination"; // Secondary package based on el-pagination
import moment from "moment";
import RoleForm from "@/modules/system-manage/components/role-manage/role-form";

const defaultRole = {
  roleName: "",
  description: ""
};

export default {
  name: "RoleManage",
  components: { Pagination, RoleForm },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: "success",
        draft: "info",
        deleted: "danger"
      };
      return statusMap[status];
    }
  },
  data() {
    return {
      role: Object.assign({}, defaultRole),
      dialogVisible: false,
      dialogType: "new",
      list: null,
      total: 0,
      prefix: "",
      listLoading: true,
      formLoading: true,
      permissionListLoading: false,
      edit: true,
      active: 1,
      listQuery: {
        pageIndex: 1,
        pageSize: 10,
        name: this.prefix
      },
      permissionList: [],
      roleOptionsData: [],
      roleRules: {
        roleName: [
          {
            required: true,
            message: this.$t("systemManage.roleNameTip"),
            trigger: "blur"
          }
        ],
        description: [
          {
            required: true,
            message: this.$t("systemManage.descriptionTip"),
            trigger: "blur"
          }
        ]
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    getList() {
      this.listLoading = true;
      const Query = {
        pageIndex: this.listQuery.pageIndex - 1,
        pageSize: this.listQuery.pageSize,
        name: this.prefix
      };
      getList(Query).then(response => {
        this.list = response.data;
        this.total = response.data.length;
        this.listLoading = false;
      });
    },
    AddRoleDialog() {
      this.$refs["roleForm"].AddRoleDialog();
    },
    handleDeleteRole(row) {
      this.$confirm(this.$t("systemManage.deleteWarning"), this.$t("form.tip"), {
        confirmButtonText: this.$t("form.confirm"),
        cancelButtonText: this.$t("form.cancel"),
        type: "warning"
      })
        .then(() => {
          this.listLoading = true;
          deleteRole(row.id)
            .then(response => {
              this.$message({
                message: response.message,
                type: "success"
              });
              this.dialogVisible = false;
              this.getList();
            })
            .catch(() => {});
        })
        .catch(response => {
          this.$message({
            type: "error",
            message: response.message
          });
        });
    },
    handleEditRole(row, index) {
      this.$refs["roleForm"].handleEditRole(row, index);
    },
    dateFormat: function(row) {
      var date = row["createdAt"];
      if (date === undefined) {
        return "";
      }
      return moment(date).format("YYYY-MM-DD HH:mm:ss");
    }
  }
};
</script>

<style scoped>
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.pagination-container {
  margin-top: 0px;
}
.table-list {
  height: calc(100vh - 270px);
}
.form-flow-button {
  text-align: right;
  margin-top: 40px;
}
.form-default-select {
  width: 409px;
}
.full-width {
  width: 100%;
}
.table-prefix-input {
  width: 200px;
  float: right;
}
.table-default-button {
  margin-left: 10px;
}
</style>
