<template>
  <div class="app-container" :height="900">
    <div class="filter-container">
      <el-button class="table-default-button" type="primary" icon="el-icon-plus" @click="AddUserDialog">
        {{ $t("table.add") }}
      </el-button>
      <el-input v-model="prefix" :placeholder="$t('table.keyword')" class="table-prefix-input" @keyup.enter.native="getList">
        <el-button slot="append" icon="el-icon-search" @click="getList" />
      </el-input>
    </div>
    <el-table v-loading="listLoading" :data="list" stripe fit highlight-current-row class="table-list full-width">
      <el-table-column align="center" :label="$t('systemManage.ID')" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>

      <el-table-column min-width="80px" align="center" :label="$t('systemManage.name')">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column min-width="80px" align="center" :label="$t('systemManage.account')">
        <template slot-scope="scope">
          <span>{{ scope.row.account }}</span>
        </template>
      </el-table-column>
      <el-table-column min-width="140px" align="center" :label="$t('systemManage.email')">
        <template slot-scope="scope">
          <span>{{ scope.row.email }}</span>
        </template>
      </el-table-column>
      <el-table-column min-width="140px" align="center" :label="$t('systemManage.phone')">
        <template slot-scope="scope">
          <span>{{ scope.row.phone }}</span>
        </template>
      </el-table-column>
      <el-table-column min-width="80px" align="center" :label="$t('systemManage.creator')">
        <template slot-scope="scope">
          <span>{{ scope.row.organization }}</span>
        </template>
      </el-table-column>
      <el-table-column min-width="100px" :label="$t('systemManage.role')">
        <template slot-scope="scope">
          <span>{{ scope.row.organization }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" :label="$t('systemManage.actions')" min-width="200px" fixed="right">
        <template slot-scope="{ row, $index }">
          <el-button type="primary" size="mini" icon="el-icon-edit" @click="handleEditUser(row)">
            {{ $t("table.edit") }}
          </el-button>
          <el-button v-if="row.status != 'deleted'" size="mini" type="danger" icon="el-icon-delete" @click="handleDeleteUser(row, $index)">
            {{ $t("table.delete") }}
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog :visible.sync="dialogVisible" :title="dialogType === 'edit' ? $t('systemManage.editUser') : $t('systemManage.newUser')" width="529px">
      <el-form ref="user" v-loading="formLoading" :model="user" label-width="80px" label-position="left" :rules="rules">
        <el-form-item :label="$t('systemManage.name')" prop="name">
          <el-input v-model="user.name" :placeholder="$t('systemManage.nameTip')" :label-position="labelPosition" width="60px" />
        </el-form-item>
        <el-form-item :label="$t('systemManage.account')" prop="account">
          <el-input v-model="user.account" :placeholder="$t('systemManage.accountTip')" :disabled="dialogType == 'edit'" />
        </el-form-item>
        <el-form-item v-if="dialogType !== 'edit'" :label="$t('login.password')" prop="password">
          <el-input v-model="user.password" type="password" autocomplete="off" :placeholder="$t('systemManage.passwordTip')" />
        </el-form-item>
        <el-form-item prop="email" :label="$t('systemManage.email')">
          <el-input v-model="user.email" :placeholder="$t('systemManage.emailTip')" />
        </el-form-item>
        <el-form-item prop="roles" :label="$t('systemManage.role')">
          <el-select v-model="user.roles" :placeholder="$t('systemManage.roleInputTip')" class="form-default-select" multiple>
            <el-option v-for="item in roleOptionsData" :key="item.id" :label="item.roleName" :value="item.id" />
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('systemManage.phone')">
          <el-input v-model="user.phone" :placeholder="$t('systemManage.phoneTip')" />
        </el-form-item>
        <el-form-item :label="$t('systemManage.organization')">
          <el-input v-model="user.organization" :placeholder="$t('systemManage.organizationTip')" />
        </el-form-item>
      </el-form>
      <div class="form-right-button">
        <el-button type="primary" @click="confirmUser('user')">
          {{ $t("permission.confirm") }}
        </el-button>
        <el-button type="danger" @click="dialogVisible = false">
          {{ $t("permission.cancel") }}
        </el-button>
      </div>
    </el-dialog>

    <pagination v-show="total > 0" :total="total" :page.sync="listQuery.pageIndex" :limit.sync="listQuery.pageSize" @pagination="getList" />
  </div>
</template>

<script>
import { getList, addUser, deleteUser, getUser, updateUser, getRoleList } from "../api/user-manage";
import Pagination from "@/components/Pagination"; // Secondary package based on el-pagination
import { checkSpecific } from "@/utils/validate"; // common validate function

const defaultUser = {
  name: "",
  account: "",
  password: "",
  roles: "",
  email: "",
  phone: "",
  organization: ""
};

export default {
  name: "ArticleList",
  components: { Pagination },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: "success",
        draft: "info",
        deleted: "danger"
      };
      return statusMap[status];
    }
  },
  data() {
    const checkSpecificKey = (rule, value, callback) => {
      if (!checkSpecific(value)) {
        callback(new Error(this.$t("systemManage.checkSpecificKey")));
      } else {
        callback();
      }
    };
    return {
      user: Object.assign({}, defaultUser),
      dialogVisible: false,
      dialogType: "new",
      list: null,
      total: 0,
      prefix: "",
      listLoading: true,
      formLoading: true,
      edit: true,
      roleOptionsData: [],
      listQuery: {
        pageIndex: 1,
        pageSize: 10,
        name: this.prefix
      },
      rules: {
        name: [
          {
            required: true,
            message: this.$t("systemManage.usernameNeedWarn"),
            trigger: "blur"
          },
          {
            min: 6,
            max: 30,
            message: this.$t("systemManage.usernameLengthWarn"),
            trigger: "blur"
          },
          { validator: checkSpecificKey, trigger: ["blur", "change"] }
        ],
        account: [
          {
            required: true,
            message: this.$t("systemManage.accountNeedWarn"),
            trigger: "blur"
          },
          {
            min: 6,
            max: 30,
            message: this.$t("systemManage.accountLengthWarn"),
            trigger: "blur"
          },
          { validator: checkSpecificKey, trigger: ["blur", "change"] }
        ],
        password: [
          {
            required: true,
            message: this.$t("systemManage.passwordNeedWarn"),
            trigger: "blur"
          },
          {
            min: 8,
            max: 30,
            message: this.$t("systemManage.passwordLengthNeedWarn"),
            trigger: "blur"
          },
          { validator: checkSpecificKey, trigger: ["blur", "change"] }
        ],
        email: [
          {
            required: true,
            message: this.$t("systemManage.emailNeedWarn"),
            trigger: "blur"
          },
          {
            type: "email",
            message: this.$t("systemManage.emailCorrectWarn"),
            trigger: ["blur", "change"]
          }
        ],
        roles: [
          {
            required: true,
            message: this.$t("systemManage.roleNeedWarn"),
            trigger: "blur"
          }
        ]
      }
    };
  },
  created() {
    this.getList();
  },
  mounted() {},
  methods: {
    getList() {
      this.listLoading = true;
      const Query = {
        pageIndex: this.listQuery.pageIndex - 1,
        pageSize: this.listQuery.pageSize,
        name: this.prefix
      };
      getList(Query).then(response => {
        this.list = response.data.data;
        this.total = response.data.total;
        this.listLoading = false;
      });
    },
    AddUserDialog() {
      this.getRoleOptions();
      this.dialogType = "new";
      this.dialogVisible = true;
      this.formLoading = false;
      this.user = Object.assign({}, defaultUser);
    },
    confirmUser(user) {
      this.$refs[user].validate(valid => {
        if (valid) {
          this.formLoading = true;
          if (this.dialogType === "edit") {
            updateUser(this.user)
              .then(response => {
                this.$message({
                  message: response.message,
                  type: "success"
                });
                this.dialogVisible = false;
                this.formLoading = false;
                this.getList();
              })
              .catch(() => {
                this.formLoading = false;
                this.dialogVisible = false;
              });
          } else {
            addUser(this.user)
              .then(response => {
                this.$message({
                  message: response.message,
                  type: "success"
                });
                this.dialogVisible = false;
                this.formLoading = false;
                this.getList();
              })
              .catch(() => {
                this.formLoading = false;
                this.dialogVisible = false;
              });
          }
        } else {
          return false;
        }
      });
    },
    handleDeleteUser(row, index) {
      this.$confirm(this.$t("systemManage.deleteWarning"), this.$t("form.tip"), {
        confirmButtonText: this.$t("form.confirm"),
        cancelButtonText: this.$t("form.cancel"),
        type: "warning"
      })
        .then(() => {
          this.listLoading = true;
          deleteUser(row.id)
            .then(response => {
              this.$message({
                message: response.message,
                type: "info"
              });
              this.dialogVisible = false;
              this.getList();
            })
            .catch(() => {
              this.formLoading = false;
              this.dialogVisible = false;
            });
        })
        .catch(response => {
          this.$message({
            type: "error",
            message: this.$t("systemManage.cancelDeleteTip")
          });
        });
    },
    handleEditUser(row, index) {
      this.getRoleOptions();
      this.dialogType = "edit";
      this.dialogVisible = true;
      this.formLoading = true;
      getUser(row.id)
        .then(response => {
          this.user = response.data;
          this.formLoading = false;
        })
        .catch(() => {
          this.formLoading = false;
          this.dialogVisible = false;
        });
    },
    getRoleOptions() {
      const Query = {};
      getRoleList(Query).then(response => {
        this.roleOptionsData = response.data;
      });
    }
  }
};
</script>

<style scoped>
.form-default-select {
  width: 409px;
}
.form-right-button {
  text-align: right;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.table-list {
  height: calc(100vh - 270px);
}
.pagination-container {
  margin-top: 0px;
}
.full-width {
  width: 100%;
}
.table-prefix-input {
  width: 200px;
  float: right;
}
.table-default-button {
  margin-left: 10px;
}
</style>
