<template>
  <div v-if="IsValidEmailToken" class="form-container">
    <el-form ref="resetPasswordForm" :model="resetPasswordForm" :rules="rules" class="login-form" autocomplete="on" label-position="left">
      <div class="title-container">
        <h3 class="title">{{ $t("login.newPasswordTip") }}</h3>
      </div>

      <el-form-item prop="resetPassword">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
        <el-input ref="resetPassword" v-model="resetPasswordForm.resetPassword" type="password" :placeholder="$t('login.newPasswordTip')" name="newPassword" tabindex="1" autocomplete="off" />
      </el-form-item>

      <el-form-item prop="newPasswordConfirm">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
        <el-input ref="newPasswordConfirm" v-model="resetPasswordForm.newPasswordConfirm" type="password" :placeholder="$t('login.newPasswordConfirmTip')" name="newPasswordConfirm" tabindex="1" autocomplete="off" />
      </el-form-item>

      <el-button :loading="loading" type="primary" style="width:100%;margin-bottom:30px;" @click="UpdatePasswordByEmailToken">
        {{ $t("login.resetPassword") }}
      </el-button>
    </el-form>
  </div>
</template>

<script>
import md5 from "js-md5";
import { checkSpecific } from "@/utils/validate";
import { verifyEmailToken, UpdatePasswordByEmailToken } from "@/api/user";

export default {
  name: "Login",
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error(this.$t("login.newPasswordTip")));
      } else {
        if (this.resetPasswordForm.newPasswordConfirm !== "") {
          this.$refs.resetPasswordForm.validateField("newPasswordConfirm");
        }
        callback();
      }
    };
    var validatePass2 = (rule, value, callback) => {
      if (value === "") {
        callback(new Error(this.$t("login.newPasswordConfirmTip")));
      } else if (value !== this.resetPasswordForm.resetPassword) {
        callback(new Error(this.$t("login.passwordCompareWarn")));
      } else {
        callback();
      }
    };
    const checkSpecificKey = (rule, value, callback) => {
      if (!checkSpecific(value)) {
        callback(new Error(this.$t("systemManage.checkSpecificKey")));
      } else {
        callback();
      }
    };
    return {
      resetPasswordForm: {
        authEmail: this.$route.query.AuthEmail,
        authEmailToken: this.$route.query.AuthEmailToken,
        resetPassword: "",
        newPasswordConfirm: ""
      },
      IsValidEmailToken: false,
      loading: false,
      rules: {
        resetPassword: [
          { validator: validatePass, trigger: "blur" },
          {
            min: 6,
            max: 30,
            message: this.$t("systemManage.usernameLengthWarn"),
            trigger: "blur"
          },
          { validator: checkSpecificKey, trigger: ["blur", "change"] }
        ],
        newPasswordConfirm: [{ validator: validatePass2, trigger: "blur" }]
      }
    };
  },
  watch: {
    $route: {}
  },
  created() {
    this.validEmailToken();
  },
  mounted() {},
  destroyed() {},
  methods: {
    validEmailToken() {
      verifyEmailToken(this.$route.query)
        .then(() => {
          this.IsValidEmailToken = true;
        })
        .catch(() => {
          window.location.href = "#/send-reset-request";
        });
    },
    UpdatePasswordByEmailToken() {
      this.$refs["resetPasswordForm"].validate(valid => {
        if (valid) {
          this.loading = true;
          const resetPara = {
            authEmail: this.resetPasswordForm.authEmail,
            authEmailToken: this.resetPasswordForm.authEmailToken,
            resetPassword: md5(this.resetPasswordForm.resetPassword)
          };
          UpdatePasswordByEmailToken(resetPara)
            .then(() => {
              alert("修改成功");
              window.location.href = "";
            })
            .catch(() => {
              this.loading = false;
            });
        } else {
          return false;
        }
      });
    },
    returnLogin() {
      window.location.href = "";
    }
  }
};
</script>

<style lang="scss">
$bg: #283443;
$light_gray: #fff;
$cursor: #fff;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .form-container .el-input input {
    color: $cursor;
  }
}

/* reset element-ui css */
.form-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;

    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $light_gray;
      height: 47px;
      caret-color: $cursor;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: $cursor !important;
      }
    }
  }

  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
}
</style>

<style lang="scss" scoped>
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;

.form-container {
  min-height: 100%;
  width: 100%;
  background-color: $bg;
  overflow: hidden;

  .login-form {
    position: relative;
    width: 520px;
    max-width: 100%;
    padding: 236px 35px 0;
    margin: 0 auto;
    overflow: hidden;
  }

  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }

  .title-container {
    position: relative;

    .title {
      font-size: 26px;
      color: $light_gray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
  }
}
</style>
