<template>
  <div class="form-container">
    <el-form ref="sendMailForm" :model="sendMailForm" :rules="rules" class="reset-form" autocomplete="on" label-position="left">
      <div class="title-container">
        <h3 class="title">{{ $t("login.sendMailTip") }}</h3>
      </div>

      <el-form-item prop="authEmail">
        <span class="svg-container">
          <svg-icon icon-class="email" />
        </span>
        <el-input v-model="sendMailForm.authEmail" :placeholder="$t('login.email')" />
      </el-form-item>

      <el-button v-if="!isSendSusscess" :loading="loading" type="primary" class="reset-default-btn" @click.native.prevent="sendResetEmail('sendMailForm')">
        {{ $t("login.sendMail") }}
      </el-button>
      <el-button v-if="isSendSusscess" type="primary" :to="redirectAuthEmail" target="_blank" class="reset-large-btn" @click="openEmail">
        {{ $t("login.openEmail") }}
      </el-button>
      <el-button v-if="isSendSusscess" type="primary" to="login" target="_self" class="reset-default-btn" @click="returnLogin">
        {{ $t("login.returnLogin") }}
      </el-button>
    </el-form>
  </div>
</template>

<script>
import { sendResetPasswordEmail } from "@/api/user";

const defaultSendMail = {
  authEmail: ""
};

export default {
  data() {
    return {
      loading: false,
      sendMailForm: Object.assign({}, defaultSendMail),
      isSendSusscess: false,
      redirectAuthEmail: "",
      rules: {
        authEmail: [
          {
            required: true,
            message: this.$t("systemManage.emailNeedWarn"),
            trigger: "blur"
          },
          {
            type: "email",
            message: this.$t("systemManage.emailCorrectWarn"),
            trigger: ["blur", "change"]
          }
        ]
      }
    };
  },
  methods: {
    sendResetEmail(sendMailForm) {
      this.$refs[sendMailForm].validate(valid => {
        if (valid) {
          this.loading = true;
          sendResetPasswordEmail(this.sendMailForm.authEmail)
            .then(response => {
              if (response.data === 10000) {
                this.redirectAuthEmail = this.sendMailForm.authEmail.split("@")[1];
                this.isSendSusscess = true;
                this.loading = false;
              } else if (response.data === 30000) {
                this.$message(this.$t("login.emailIsExist"));
              } else {
                this.$message(this.$t("login.emailSendError"));
              }
            })
            .catch(() => {
              this.loading = false;
            });
        } else {
          return false;
        }
      });
    },
    openEmail() {
      window.location.href = "http://www.mail." + this.redirectAuthEmail;
    },
    returnLogin() {
      window.location.href = "";
    }
  }
};
</script>

<style lang="scss">
$bg: #283443;
$light_gray: #fff;
$cursor: #fff;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .form-container .el-input input {
    color: $cursor;
  }
}

/* reset element-ui css */
.form-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;

    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $light_gray;
      height: 47px;
      caret-color: $cursor;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: $cursor !important;
      }
    }
  }

  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }

  .reset-default-btn {
    width: 100%;
    margin-bottom: 30px;
  }

  .reset-large-btn {
    height: 55px;
    width: 100%;
    margin-bottom: 30px;
  }

  .reset-default-btn {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
  }
}
</style>

<style lang="scss" scoped>
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;

.form-container {
  min-height: 100%;
  width: 100%;
  background-color: $bg;
  overflow: hidden;

  .reset-form {
    position: relative;
    width: 520px;
    max-width: 100%;
    padding: 236px 35px 0;
    margin: 0 auto;
    overflow: hidden;
  }

  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }

  .title-container {
    position: relative;

    .title {
      font-size: 26px;
      color: $light_gray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
  }
}
</style>
