<template>
  <el-dialog :visible.sync="dialogVisible" :title="dialogType === 'edit' ? $t('systemManage.editRole') : $t('systemManage.newRole')" width="529px">
    <el-steps :active="active" align-center finish-status="success">
      <el-step :title="$t('systemManage.baseInfo')" />
      <el-step :title="$t('systemManage.rolePermission')" />
    </el-steps>
    <el-form v-if="active === 1" ref="role" v-loading="formLoading" :rules="roleRules" :model="role" label-width="80px" label-position="left">
      <el-form-item :label="$t('systemManage.roleName')" class="top-item" prop="roleName">
        <el-input v-model="role.roleName" :placeholder="$t('systemManage.roleNameTip')" min-width="60px" />
      </el-form-item>
      <el-form-item :label="$t('systemManage.description')" prop="description">
        <el-input v-model="role.description" :placeholder="$t('systemManage.descriptionTip')" />
      </el-form-item>
    </el-form>
    <el-table v-if="active === 2" v-loading="permissionListLoading" :data="permissionList" stripe fit highlight-current-row class="full-width" row-key="resourceId" :tree-props="{ children: 'children', hasChildren: 'true' }" default-expand-all>
      >
      <el-table-column align="center" :label="$t('systemManage.menu')" min-width="160px">
        <template slot-scope="scope">
          <span>{{ $t("route." + scope.row.name) }}</span>
        </template>
      </el-table-column>

      <el-table-column min-width="60px" align="center" :label="$t('systemManage.readonly')">
        <template slot-scope="scope">
          <el-checkbox v-model="scope.row.isReadonly" @change="checked => checkParentOrChildren(checked, scope.row, 'isReadonly')" />
        </template>
      </el-table-column>

      <el-table-column min-width="60px" align="center" :label="$t('systemManage.actionable')">
        <template slot-scope="scope">
          <el-checkbox v-model="scope.row.isActionable" @change="checked => checkParentOrChildren(checked, scope.row, 'isActionable')" />
        </template>
      </el-table-column>
    </el-table>
    <div class="form-flow-button">
      <el-button v-if="active > 1" type="primary" @click="preStep">
        {{ $t("systemManage.preStep") }}
      </el-button>
      <el-button v-if="active < 2" type="primary" @click="nextStep">
        {{ $t("systemManage.nextStep") }}
      </el-button>
      <el-button type="primary" :disabled="active !== 2" @click="submitForm">
        {{ $t("systemManage.confirm") }}
      </el-button>
      <el-button type="danger" @click="dialogVisible = false">
        {{ $t("systemManage.cancel") }}
      </el-button>
    </div>
  </el-dialog>
</template>

<script>
import { addRole, deleteRole, getRole, updateRole } from "@/modules/system-manage/api/role-manage";
import { savePermission, getPermission } from "@/modules/system-manage/api/permission-manage";

const defaultRole = {
  roleName: "",
  description: ""
};

export default {
  name: "RoleForm",
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: "success",
        draft: "info",
        deleted: "danger"
      };
      return statusMap[status];
    }
  },
  props: {
    listLoading: Boolean
  },
  data() {
    return {
      role: Object.assign({}, defaultRole),
      dialogVisible: false,
      dialogType: "new",
      formLoading: true,
      permissionListLoading: false,
      edit: true,
      active: 1,
      permissionList: [],
      roleRules: {
        roleName: [
          {
            required: true,
            message: this.$t("systemManage.roleNameTip"),
            trigger: "blur"
          }
        ],
        description: [
          {
            required: true,
            message: this.$t("systemManage.descriptionTip"),
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    AddRoleDialog() {
      this.dialogType = "new";
      this.dialogVisible = true;
      this.formLoading = false;
      this.role = Object.assign({}, defaultRole);
      this.active = 1;
      this.getMenuList();
      this.clearCheck();
    },
    checkParentOrChildren(checked, row, type) {
      const checkParent = function(data) {
        for (let i = 0; i < data.length; i++) {
          if (data[i].children != null) {
            for (let j = 0; j < data[i].children.length; j++) {
              if (data[i].children[j].resourceId === row.resourceId && checked) {
                data[i][type] = true;
              }
            }
            checkParent(data[i].children);
          }
        }
      };
      checkParent(this.permissionList);

      const checkChildren = function(data) {
        for (let i = 0; i < data.length; i++) {
          if (data[i].children != null) {
            if (data[i].resourceId === row.resourceId) {
              for (let j = 0; j < data[i].children.length; j++) {
                data[i].children[j][type] = checked;
              }
            }
            checkChildren(data[i].children);
          }
        }
      };
      checkChildren(this.permissionList);

      console.log(this.permissionList);
    },
    submitForm() {
      this.permissionListLoading = true;
      if (this.dialogType === "edit") {
        updateRole(this.role)
          .then(() => {
            const permissions = [];
            const packagePermissionData = function(data) {
              for (let i = 0; i < data.length; i++) {
                if (data[i].isReadonly) {
                  const permission = {
                    ResourceId: data[i].resourceId,
                    Type: "read"
                  };
                  permissions.push(permission);
                }
                if (data[i].isActionable) {
                  const permission = {
                    ResourceId: data[i].resourceId,
                    Type: "write"
                  };
                  permissions.push(permission);
                }
                if (data[i].children != null) {
                  packagePermissionData(data[i].children);
                }
              }
            };

            packagePermissionData(this.permissionList);

            const postpara = {
              roleName: this.role.roleName,
              permissions: permissions
            };

            savePermission(postpara)
              .then(response => {
                this.$message({
                  message: response.message,
                  type: "success"
                });
                this.permissionListLoading = false;
                this.dialogVisible = false;
                this.$parent.getList();
              })
              .catch(() => {
                this.permissionListLoading = false;
                this.dialogVisible = false;
              });
          })
          .catch(() => {
            this.permissionListLoading = false;
            this.dialogVisible = false;
          });
      } else {
        addRole(this.role)
          .then(() => {
            const permissions = [];
            const packagePermissionData = function(data) {
              for (let i = 0; i < data.length; i++) {
                if (data[i].isReadonly) {
                  const permission = {
                    ResourceId: data[i].resourceId,
                    Type: "read"
                  };
                  permissions.push(permission);
                }
                if (data[i].isActionable) {
                  const permission = {
                    ResourceId: data[i].resourceId,
                    Type: "write"
                  };
                  permissions.push(permission);
                }
                if (data[i].children != null) {
                  packagePermissionData(data[i].children);
                }
              }
            };
            packagePermissionData(this.permissionList);

            const postpara = {
              roleName: this.role.roleName,
              permissions: permissions
            };

            savePermission(postpara)
              .then(response => {
                this.$message({
                  message: response.message,
                  type: "success"
                });
                this.dialogVisible = false;
                this.permissionListLoading = false;
                this.$parent.getList();
              })
              .catch(() => {
                this.permissionListLoading = false;
                this.dialogVisible = false;
              });
          })
          .catch(() => {
            this.permissionListLoading = false;
            this.dialogVisible = false;
          });
      }
    },
    handleDeleteRole(row, index) {
      this.$confirm(this.$t("systemManage.deleteWarning"), this.$t("form.tip"), {
        confirmButtonText: this.$t("form.confirm"),
        cancelButtonText: this.$t("form.cancel"),
        type: "warning"
      })
        .then(() => {
          this.listLoading = true;
          deleteRole(row.id)
            .then(response => {
              this.$message({
                message: response.message,
                type: "success"
              });
              this.dialogVisible = false;
              this.$parent.getList();
            })
            .catch(() => {});
        })
        .catch(response => {
          this.$message({
            type: "error",
            message: response.message
          });
        });
    },
    handleEditRole(row) {
      this.dialogType = "edit";
      this.dialogVisible = true;
      this.formLoading = true;
      this.active = 1;
      getRole(row.id)
        .then(response => {
          this.role = response.data;
          this.formLoading = false;
        })
        .catch(() => {});

      this.getMenuList();

      getPermission(row.id)
        .then(response => {
          const packagePermissionData = function(data) {
            for (let i = 0; i < data.length; i++) {
              for (let j = 0; j < response.data.length; j++) {
                if (response.data[j].resourceId === data[i].resourceId) {
                  response.data[j].type === "write" ? (data[i].isActionable = true) : (data[i].isReadonly = true);
                }
              }
              if (data[i].children != null) {
                packagePermissionData(data[i].children);
              }
            }
          };

          packagePermissionData(this.permissionList);
        })
        .catch(() => {});
    },
    preStep() {
      if (this.active-- < 1) this.active = 1;
    },
    nextStep() {
      this.$refs["role"].validate(valid => {
        if (valid) {
          if (this.active++ > 2) this.active = 2;
        }
      });
    },
    getMenuList() {
      const moduleRoutes = require.context("@/modules", true, /router\.js$/);
      const modules = moduleRoutes.keys().reduce((module, modulePath) => {
        const value = moduleRoutes(modulePath);
        module = module.concat(value.routes);
        return module;
      }, []);
      this.permissionList = modules;
    },
    clearCheck() {
      const clearCheckdata = function(data) {
        for (let i = 0; i < data.length; i++) {
          data[i].isReadonly = false;
          data[i].isActionable = false;
          if (data[i].children != null) {
            clearCheckdata(data[i].children);
          }
        }
      };
      clearCheckdata(this.permissionList);
    }
  }
};
</script>
<style scoped>
.top-item {
  margin-top: 20px;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.pagination-container {
  margin-top: 0px;
}
.table-list {
  height: calc(100vh - 270px);
}
.form-flow-button {
  text-align: right;
  margin-top: 40px;
}
.form-default-select {
  width: 409px;
}
.full-width {
  width: 100%;
}
.table-prefix-input {
  width: 200px;
  float: right;
}
.table-default-button {
  margin-left: 10px;
}
</style>
